<!DOCTYPE HTML>
<html>
<head>
<title>Other_message_board</title>
<link href="{{ url_for('static',filename ='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />

<link href="{{ url_for('static',filename ='css/style.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static',filename ='css/message_board.css') }}" rel='stylesheet' type='text/css' />
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<link href="{{ url_for('static',filename ='css/touxiang.css') }}" rel='stylesheet' type='text/css' />
<script src="{{ url_for('static',filename ='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename ='js/jquery-1.11.1.min.js') }}"></script>
<link href="{{ url_for('static',filename ='css/animate.css') }}" rel='stylesheet' type='text/css' />
<script>
		new WOW().init();
	</script>
</head>
<body>
<div class="header wow fadeInUp" data-wow-delay="0.4s" style="height: 104.6px;">
	<div class='container'>
		<div class="header_left">
			<img src="{{ url_for('static',filename ='images/rate.png') }}" alt=""/>
		</div>
		<div class="logo">
			<a href="index.html"><img src="{{ url_for('static',filename ='images/logo.png') }}" alt=""/>
				<span>Soulmate</span>
			</a>
		</div>
		<div class="header_right">
			<ul class="header_user_info">
			  <a class="login" href="login.html">
				<li class="user_desc"><span class="m_1">已有账户 ? </span>登陆</li>
				<i class="user"> </i> 
				<div class="clearfix"> </div>
			  </a>
			  <div class="clearfix"> </div>
	    	</ul>
			<a href="register.html" class="btn1 btn-1 btn1-1b">注册</a>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- <div class="touxiang" style="width: 80px;">
		<img src="{{ url_for('static',filename ='images/pic2.jpg') }}" style="width: 80px;">
	</div> -->
</div>
<div class="profile_banner wow fadeInUpBig" data-wow-delay="0.4s">
	<div class="cssmenu"> 
	   <ul>
		<li><a href="/">主页</a></li> 
		<li><a href="about.html">关于</a></li>
		<li><a href="profiles.html">Add Profile</a></li>
		<li><a href="user_center">个人信息</a></li>
		<li><a href="my_message_board.html">留言板</a></li>
		<li><a href="contact.html">联系</a></li>
	  </ul>
	</div>
</div>

<div class="container wow fadeInUp" data-wow-delay="0.4s">
	<p style="color:plum">Ta的留言：</p>
	{% if messages %}
	{% for m in messages %}
	<div class=" profile_left_mb">
			<div class="head_photo">
			<img src="{{ url_for('static',filename =m[3]) }}" class="img-responsive" alt=""/>
			</div>
		
		<div class="cont span_2_of_profile mb_line">
			<div><a href="single.html?{{m[4]}}"><span class="uname">{{ m[0] }}</span><span class="pub_time">***{{ m[2] }}</span></a></div>
			<p style="font-size: 1.5em;word-break: break-all;">{{ m[1] }}</p>
		</div>
	</div>
	{% endfor %}
	{% else %}
		<p>Ta还没有留言哦，快抢沙发吧！</p>
	{% endif %}
</div>
<div class="mb_form wow fadeInUp" data-wow-delay="0.4s">
		<form action="/other_message_board" method="POST">
			<table style="width: 300px;cellspacing='0'">
				<li> 留 言 :</li><textarea style="	border: 1px solid #EEE;
					outline-color:#FF5B36;
					width: 300px;
					height: 200px;
					font-size: 1em;
					padding: 0.5em;" id="content" name="content" placeholder="请 输 入 留 言 内 容~"></textarea></td></tr>
				<li><button type="submit" style="background:#d26e8e;
					color: #FFF;
					font-size: 0.6em;
					padding: 0.5em 2em;
					transition: 0.5s all;
					-webkit-transition: 0.5s all;
					-moz-transition: 0.5s all;
					-o-transition: 0.5s all;
					display: inline-block;
					text-transform: uppercase;
					border:none;
					outline:none;">提交</button></li>
			</table>
		</form>
</div>
</div>

<div class="footer mb_footer">
	<div class="container">
		<div class="cssmenu wow fadeInUp" data-wow-delay="0.4s">
		  <ul>
			<li class="active"><a href="/">Home</a></li> 
			<li><a href="about.html">About</a></li>
			<li><a href="profiles.html">Add Profile</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
	    </div>
	    <div class="copy wow fadeInUp" data-wow-delay="0.4s">
			<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
		<div class="social wow fadeInUp" data-wow-delay="0.4s"> 
			<ul class="footer_social">
			  <li><a href="#"> <i class="fb"> </i> </a></li>
			  <li><a href="#"> <i class="tw"> </i> </a></li>
		   </ul>
		</div>

	    <div class='clearfix'> </div>
	</div>
</div>


</body>
</html>		