<!DOCTYPE HTML>
<html>
<head>
<title>other_center</title>
<link href="{{ url_for('static',filename ='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
<link href="{{ url_for('static',filename ='css/style.css') }}" rel='stylesheet' type='text/css' />

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="{{ url_for('static',filename ='css/Montserrat.css') }}" rel='stylesheet' type='text/css'>

<link href="{{ url_for('static',filename ='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static',filename ='css/lsb.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename ='css/style2.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">


<script src="{{ url_for('static',filename ='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static',filename ='js/wow.min.js') }}"></script>
<link href="{{ url_for('static',filename ='css/animate.css') }}" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
</head>
<body>
<div class="header wow fadeInUp" data-wow-delay="0.4s">
	<div class='container'>
		<div class="header_left">
			<img src="{{ url_for('static',filename ='images/rate.png') }}" alt=""/>
		</div>
		<div class="logo">
			<a href="/"><img src="{{ url_for('static',filename ='images/logo.png') }}" alt=""/>
				<span>千寻</span>
			</a>
		</div>
		<div class="header_right">
			<ul class="header_user_info">
					<ul class="header_user_info">
					{% if name %}
					<a class="login" href="#">
					<li class="user_desc"><span class="m_1">欢 迎，{{ name }}!</span></li>
					<div class="clearfix"> </div>
					</a>
					<div class="clearfix"> </div>
					</ul>
					<a href="log" class="btn1 btn-1 btn1-1b">注销</a>
					{% else %}
			  <a class="login" href="login">
				<li class="user_desc"><span class="m_1">已有账户 ? </span>登陆</li>
				<i class="user"> </i> 
				<div class="clearfix"> </div>
			  </a>
			  <div class="clearfix"> </div>
	    	</ul>
			<a href="register.html" class="btn1 btn-1 btn1-1b">注册</a>
			{% endif %}
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="profile_banner wow fadeInUpBig" data-wow-delay="0.4s">
	<div class="cssmenu"> 
	   <ul>
		<li><a href="/">家</a></li> 
		<li><a href="/about">关于</a></li>
		
		<li><a href="single.html?id={{uid}}">个人信息</a></li>
		<li><a href="/other_message_board?id={{uid}}&aspx=1">留言板</a></li>
		<li><a href="/my_photos">照片墙</a></li>
	  </ul>
	</div>
</div>
<div class="profile">
	<div class="container wow fadeInUp" data-wow-delay="0.4s">
		<div class=" profile_left">
			<div class="lsidebar span_1_of_profile">
			  <div class="grid_4">
			    <img src="{{ url_for('static',filename =head_p) }} " class="img-responsive" alt="" style="width: 300px;height: 250px;"/>
				<ul class="category_desc1">
				   <li class="cate_head">给  Ta  留言</li>
				   <li class="cate_right">
				   	 <ul class="list1">
				   	    <li><a href="other_message_board?{{other_id}}&aspx=1"><i class="heart"> </i></a></li>
				   	 </ul>
				   </li>
				   <div class="clearfix"> </div>
				</ul>
			   </div>
			</div>
			<div class="cont span_2_of_profile">
				<h4><a href="#">{{ uname }} ,</a>Manager-usa</h4>	
				<table class="profile-fields">
					<tbody>
						<tr><th>真实姓名</th><td>{{ true_name }}</td></tr>
						<tr><th>性别</th><td>{{ sex }}</td></tr>
						<tr><th>生日</th><td>{{ age }}</td></tr>			
						<tr><th>身高</th><td>{{ height }}</td></tr>
						<tr><th>体重</th><td>{{ weight }}</td></tr>
						<tr><th>学历</th><td>{{ edu }}</td></tr>
						<tr><th>所在地</th><td>{{ location }}</td></tr>
						<tr><th>婚姻状态</th><td>{{ huny }}</td></tr>
						<tr><th>职业</th><td>{{ job }}</td></tr>
						<tr><th>爱好</th><td>{{ hobby }}</td></tr>
					</tbody>
				</table>
			
			</div>
			
		</div>
		
	</br>
	<div class="w3l_inner_section">
			<div class="container">
				   <div class="wthree_title_agile">
	<h3 style="font-size: 2.5em;">个人简介</h3>
	<p style="font-size: 20px; margin-top: 20px;"><i class="fa fa-heart-o" aria-hidden="true"></i>{{ about }}</i></p>
	</div>
	</div>
	</div>
	</div>
	<div class="w3l_inner_section">
			<div class="container">
				   <div class="wthree_title_agile">
						<h2>my  <span>photo</span></h2>
						<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
						
					</div>
				 <p class="sub_para">WE ARE GETTING MARRIED</p>
		
				
				 <div class="inner_w3l_agile_grids">
					{% if query %}
					{% for i in query %}	
					<div class="col-md-4 w3_tabs_grid">
							<div class="grid">
								<a href="{{url_for('static',filename =i[0])}}" class="lsb-preview" data-lsb-group="header">
									<figure class="effect-winston">
										<img src="{{url_for('static',filename =i[0])}}" class="img-responsive" alt=" " style="width: 500px;height: 250px;"/>
										<figcaption>
											<p>
												<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
											</p>
										</figcaption>			
									</figure>
								</a>
							</div>
						</div>
		{% endfor %}
		{% else %}
		<h2>这里什么都没有呢，上传照片展示下自己吧~<h2></h2>
		{% endif %}
	</div>
		<div class="clearfix"> </div>
					</div>
			</div>
		</div>
</div>



<script type="text/javascript" src="{{ url_for('static',filename ='js/jquery-2.1.4.min.js') }}"></script>
 <script src="{{ url_for('static',filename ='js/lsb.min.js') }}"></script>
<script>
$(window).load(function() {
		$.fn.lightspeedBox();
	});
</script>

<div class="footer">
	<div class="container">
		<div class="cssmenu wow fadeInUp" data-wow-delay="0.4s">
		  <ul>
			<li class="active"><a href="#">Home</a></li> 
			<li><a href="about.html">About</a></li>
			<li><a href="profiles.html">Add Profile</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
	    </div>
	    <div class="copy wow fadeInUp" data-wow-delay="0.4s">
			<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
		<div class="social wow fadeInUp" data-wow-delay="0.4s"> 
			<ul class="footer_social">
			  <li><a href="#"> <i class="fb"> </i> </a></li>
			  <li><a href="#"> <i class="tw"> </i> </a></li>
		   </ul>
		</div>

	    <div class='clearfix'> </div>
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static',filename ='js/jquery-2.1.4.min.js') }}"></script><!-- Required-js -->

	<script src="{{ url_for('static',filename ='js/responsiveslides.min.js') }}"></script>
	
 <script src="{{ url_for('static',filename ='js/lsb.min.js') }}"></script>
			<script>
			$(window).load(function() {
				  $.fn.lightspeedBox();
				});
			</script>

			<script type="text/javascript">
				$(document).ready(function() {
					$().UItoTop({ easingType: 'easeOutQuart' });								
					});
			</script>

			<script type="text/javascript" src="{{ url_for('static',filename ='js/move-top.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static',filename ='js/easing.js') }}"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>

</body>
</html>		